
body{
  margin: 0;
  font-family: fot-cezanne-pron, sans-serif;
}

html{
  overflow-x: auto;
  overflow-y: auto;
}

.container{
  margin: 0 auto;
  width: 95vw;
  max-width:1000px;
  font-size: 20px;
}

.container span{
  font-size: 30px;
  color: #191970;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*インデックス背景*/

/*インデックス構造を作る*/
.loading{
  width: 100vw;
  height: 100vh;
  z-index: 10;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;

  background-image: url("shibuya_2.png");
  background-size: cover;
  background-attachment: fixed

}

.loading_logo{
  width: 100vw;
  height: 100vh;
}

.loading img{
  width: 20vw;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;


}

.logo{
  display: none;
}

.for_index{

}

/*インデックスメニュー*/
.index_menu{
  background-color: #46B190;
  margin-left: auto;
  color: white;
  z-index: 1;
  width: 50vw;
  height: 100vh;
  position: relative;

}


.menu_btn img{
  height: 40px;
  margin-left: 15px;
}

.menu_btn{
  border-left: solid white 3px;
  margin-left: 50px;
}

.menu_blank{
  width: 100%;
  height: 30px;
}

.menu_btns{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  display: none;
}

.menu_contents{
  display: none;
  width: 100%;
  margin-left: 74px;
}

.menu_link{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.page_title{
}

.page_title2{
  font-size: 20px;
  color: black;
}

.page_title2 span{
  font-size: 40px;
  color: black;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  display: inline-block;
}


.page_title3{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.page_title4{
  display: flex;
  align-items: center;
  font-size: 40px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;

}

.page_title4 p{
  padding-left: 10px;
  margin-left:20px;
  display: block;
  border-left: solid white 3px;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;

}


/*ヘッダー*/
.header_menu1{
  height: 64px;
  width: 100%;
  background-color: #303030;
}

.header_menu2{
  height: 92px;
  line-height: 92px;
  width: 100%;
  background-color: #46B190;
  display: inline-block;

}

.page_menu_btns{
  display: flex;
  justify-content: start;
  width: 1000px;
}

.page_title{
  height: 100%;
  margin-left: 0;
  margin-right: 20px;
  width: auto;
  font-size: 20px;

  color: white;
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-weight: 600;
  font-style: normal;

}

.page_menu_btns a{
  height: 100%;

  font-size: 16px;
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;

  font-family: fot-cezanne-pron, sans-serif;
  font-weight: 500;
  font-style: normal;
}





.header_menu_btns{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 1000px;
}

.header_menu_btns img{
  height: 30px;
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header_menu_btns a{
  line-height: 64px;
  font-size: 16px;
  display: block;
  margin-left: 0;
  margin-right: auto;

  font-family: fot-cezanne-pron, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*フッター*/
.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 140px;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/

}

footer{
  width: 100%;
  background-color: #303030;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/

}

.footer_info{
  margin-top: 20px;
  margin-left: 40px;
  color: white;
}

/*ニュース*/
.center{
  font-size: 30px;
  text-align: center;
}

.news_box{
  margin-top: 30px;
}

.news_column{
  border: 1px solid #707070;
	width: 90%;
  margin: 0 auto 30px auto;
  position: relative;
}

.news_date {
  font-size: 20px;
  line-height: 25px;

  margin: 10px 20px 0 20px;
}

.news_title {
  font-size: 40px;
  font-family: a-otf-futo-min-a101-pr6n, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 55px;
  margin: 0 20px 0 20px;
}

.news_content {
  font-size: 20px;
  margin: 0 20px 10px 20px;
  display: none;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news_column span{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color:#ccc;
}

/*取扱業務*/
.container img{
  width: 100%;
  display: block;
}

.pa_table{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.pa_cells{
  width: 40%;
  height: 120px;
  margin: 15px;
  border: 1px solid #c0c0c0;
  position: relative;
  z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */
}

.pa_cells a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
  z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}

.pa_title{
  text-align: center;
  font-family: a-otf-futo-min-a101-pr6n, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 10px;
}

.pa_image img{
  display: block;
  margin: 0 auto;
  width: 70px;
  padding: 10px;
}

.loan_title{
  background-image: url("../pic/p_a/loan/title.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 300px;

}

.inheritance_title{
  background-image: url("../pic/p_a/inheritance/title.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 300px;

}

.example{
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.example_title{
  font-size: 20px;
  margin: 0 20px 0 20px;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 700;
  font-style: normal;
  position:relative;
}

.example_answer{
  display: none;
  margin: 0 20px 0 20px;

}

.op_cl{
  position: absolute;
  top: 9px;
  right: 5px;
  color:#ccc;
  line-height: 20px;
  font-size: 20px;
}

/*当事務所について*/
.history_table,.overview_table,.access_table,.paid_contact_table{
  width: 100%;
  margin: 0 auto;
  display: block;
}

.history_table_line,.overview_table_line,.access_table_line,.paid_contac_table_line{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
}

.history_year,.overview_title,.paid_contac_title{
  width: 20%;
  text-align: center;
  text-decoration: underline orange;
}

.history_contents,.overview_contents,.paid_contac_contents{
  width: 70%;;
}

.about_lawyer{
  display: flex;
  margin-top: 15px;

}

.about_lawyer_img{
  padding-right: 20px;
}

.lawyer_name{
  font-size: 30px;
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  line-height: 20px;
  padding-bottom: 20px;
}

.lawyer_name span{
  font-size: 10px;
  line-height: 5px;
  color: #3cb371;
  font-family: kozuka-gothic-pr6n, sans-serif;
}

.history_title{
  height: 100px;
  background-color: #fdf5e6;
}

.overview_main_title{
  height: 100px;
  background-color: #fdf5e6;
}

.about_me_title{
  height: 100px;
  background-color: #fdf5e6;
}

/*相談までの流れ*/
.flow_contact{
  padding-bottom: 15px;
}

.first_contact_title{
  height: 100px;
  background-color: #b0e0e6;
}

.flow_first_contact_table{
  border: 1px solid #c0c0c0;
  margin-top: 5px;
  padding: 12px;
}

.paid_contact_title{
  height: 100px;
  background-color: #fffacd;
}

.paid_contact_table{
  padding-top: 15px;
}

.telephone_contact_title{
  height: 100px;
  background-color: #dda0dd;
}

.regular_telephone_contact_title{
  height: 100px;
  background-color: #8fbc8f;
}

.mail_contact_title{
  height: 100px;
  background-color: #d3d3d3;
}

.trip_contact_title{
  height: 100px;
  background-color: #b0c4de;
}

/*アクセス*/
.gmap iframe{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.gmap{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.access_number{
  width: 10%;
  text-align: center;
  text-decoration: underline orange;
}

.access_contents{
  width: 85%;;
}
